
<div class="row">
    <div class="col-md-6 offset-md-3 jumbotron">
        <h3 class="display-4">Upload File:</h3>
        <hr class="my-4">
        <form method="post" action="/home/uploadimage" enctype="multipart/form-data">
            <input type="file" name="myfile" />
            <br>
            <input type="text" name="password" placeholder="Custom Password" />
            <br>
            <div class="col text-center">
                <button class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
</div>
